---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts", ({ data }) => {
    return data.draft !== true;
  });
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with "{tag}"</p>
  <p><a href="/tags">Back to tags</a></p>
  <div class="blog-cards">
    {
      posts.map((post) => (
        <BlogPostCard
          title={post.data.title}
          url={`/posts/${post.slug}`}
          description={post.data.description}
        />
      ))
    }
  </div>
</BaseLayout>

<style>
  .blog-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    column-gap: 50px;
  }
</style>
