---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Search from "../components/Search";
import BlogPostCard from "../components/BlogPostCard.astro";

const allPosts = await getCollection("posts", ({ data }) => {
  return data.draft !== true;
}).then((res) =>
  res.sort((a, b) => {
    // Sort by updateDate first, then by date
    const aDate = a.data.updateDate
      ? new Date(a.data.updateDate)
      : new Date(a.data.date);
    const bDate = b.data.updateDate
      ? new Date(b.data.updateDate)
      : new Date(b.data.date);
    return bDate.getTime() - aDate.getTime();
  }),
);
---

<BaseLayout pageTitle="Blog">
  <a href="/tags">View post by tag</a>
  <p>
    I blog about a lot of tech and learning topics. These posts are a
    combination of tutorials and thinking. I often revisit these posts and
    update them both as technologies change and my thinking changes.
  </p>

  <p>
    I'm still working on adding meta-data to some of my older posts and
    reformatting. If you spot anything that needs to be fixed, let me know!
  </p>

  <Search posts={allPosts} client:load />

  <div class="blog-cards">
    {
      allPosts.map((post) => (
        <BlogPostCard
          title={post.data.title}
          url={`/posts/${post.slug}`}
          description={post.data.description}
          date={post.data.date}
          updateDate={post.data.updateDate}
          tags={post.data.tags}
          imageUrl={post.data.imageUrl || ""}
          imageAlt={post.data.imageAlt || ""}
        />
      ))
    }
  </div>
</BaseLayout>

<style>
  .card:hover {
    background-color: #eee;
  }
  .card {
    padding: 8px;
  }

  .blog-card {
    display: flex;
  }

  .description {
    color: black;
    text-decoration: none;
  }

  .description:hover {
  }

  .blog-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
