---
export const prerender = false;
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Newsletter from "../components/Newsletter.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
const latestPosts = await getCollection("posts", ({ data }) => {
  return data.draft !== true;
}).then((postMessages) =>
  postMessages
    .sort(
      (a, b) => Number(new Date(b.data.date)) - Number(new Date(a.data.date))
    )
    .slice(0, 3)
);
---

<BaseLayout pageTitle="Kevin Cunningham (@dolearning)">
  <div transition:animate="slide" class="heading">
    <h1>👋 Hey! Welcome!</h1>
  </div>
  <div class="top">
    <div>
      <h2 class="p-note">
        I'm Kevin Cunningham (aka @dolearning) and I'm a ...
        <br /><br />
        <div class="c1">
          <div class="type">Web Developer</div>
        </div>

        <br />

        <div class="c2">
          <div class="type2">Developer Educator</div>
        </div>

        <br />

        <div class="c3">
          <div class="type3">Speaker</div>
        </div>

        <br />

        <div class="c4">
          <div class="type4">Writer</div>
        </div>
      </h2>
      <p>
        This is my little corner of the internet. Hopefully, you can learn
        something around here (and teach me something too!).
      </p>
    </div>
    <div>
      <img
        src="https://res.cloudinary.com/kc-cloud/image/upload/f_auto,q_auto/w_500/v1/raycast-uploads/eekzfqaepkqawlyk9hfl"
        class="heading-image u-photo"
      />
    </div>
  </div>
  <div>
    <h3>Blog</h3>
    <p>
      I try to blog regularly with a mix of tutorials, helpful articles and
      thoughts about tech and life. Here are my latest posts:
    </p>
    {
      latestPosts.map((post) => {
        return (
          <>
            <BlogPostCard
              url={`/posts/${post.slug}`}
              title={post.data.title}
              description={post.data.description}
              date={post.data.date}
              tags={post.data.tags}
            />
          </>
        );
      })
    }
    <p>You can find a <a href="/blog">searchable list of posts here</a>.</p>
  </div>
  <div>
    <h3>Teaching</h3>
    <p>
      I spend most of my time teaching and coaching teams inside of medium to
      large organisations. I also run workshops and speak at conferences.
    </p>
    <p>
      I use what I create and discover with live groups to build out
      pre-recorded courses.
    </p>
    <p><a href="/courses">You can find out more about all of these here</a>.</p>
  </div>
  <div>
    <h3>Connect with me</h3>
    <p>
      I'm most active on <a href="https://twitter.com/dolearning" rel="me"
        >Twitter</a
      >{" "}
       and <a href="https://hachyderm.io/@dolearning/" rel="me">Mastodon</a>
       . I also have a <a
        href="https://www.youtube.com/channel/UCtzNXx0YjJFvAuAPL9ZjQOw"
        rel="me">YouTube channel</a
      > where I post videos tech tutorials. My Github profile is also <a
        href="https://github.com/doingandlearning"
        rel="me">here</a
      >.
    </p>
  </div>
  <Newsletter />

  <style>
    .initial::after {
      content: "";
    }
    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .top p {
      margin: 4px;
    }

    .top img {
      margin: 4px;
      width: 300px;
    }

    .top {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    .heading-image {
      border-radius: 25%;
    }

    @media screen and (min-width: 768px) {
      .top {
        flex-direction: row;
      }
      .top div {
        flex: 1;
      }
      .top img {
        width: 400px;
      }
    }

    .c1 {
      display: inline-block;
    }
    .c2 {
      display: inline-block;
    }
    .c3 {
      display: inline-block;
    }
    .c4 {
      display: inline-block;
    }
    h2 {
      font-size: 2rem;
      margin-top: 1%;
    }
    h2 .type {
      font-size: 1.5rem;
      overflow: hidden;
      border-right: 0.15em solid var(--site-orange);
      white-space: nowrap;
      width: 0;
      animation: typing 1s steps(25, end) forwards;
      margin-left: 16px;
    }
    h2 .type2 {
      font-size: 1.5rem;
      overflow: hidden;
      border-right: 0.15em solid var(--site-orange);
      white-space: nowrap;
      width: 0;
      animation: typing 1s steps(25, end) forwards;
      animation-delay: 1s;
      margin-left: 16px;
    }
    h2 .type3 {
      font-size: 1.5rem;
      overflow: hidden;
      border-right: 0.15em solid var(--site-orange);
      white-space: nowrap;
      width: 0;
      animation: typing 1s steps(25, end) forwards;
      animation-delay: 2s;
      margin-left: 16px;
    }
    h2 .type4 {
      font-size: 1.5rem;
      overflow: hidden;
      border-right: 0.15em solid var(--site-orange);
      white-space: nowrap;
      width: 0;
      animation: typing 1s steps(25, end) forwards;
      animation-delay: 3s;
      margin-left: 16px;
    }
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
    @keyframes blink {
      from {
        border-color: transparent;
      }
      to {
        border-color: var(--site-orange);
      }
    }
  </style>
</BaseLayout>
