---
export const prerender = false;
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Otherpage";
import { getCollection } from "astro:content";
import Newsletter from "../components/Newsletter.astro";
import BlogPostCard from "../components/BlogPostCard.astro";

const latestPosts = await getCollection("posts").then((postMessages) =>
  postMessages
    .sort(
      (a, b) => Number(new Date(b.data.date)) - Number(new Date(a.data.date))
    )
    .slice(0, 3)
);
---

<BaseLayout pageTitle={pageTitle}>
  <div transition:animate="slide" class="heading">
    <h1>👋 Hey! Welcome!</h1>
  </div>
  <div class="top">
    <div>
      <p>
        I'm Kevin (aka @dolearning) and this is my little corner of the
        internet.
      </p>
      <p>
        I'm a <strong>developer educator</strong>, <strong>speaker</strong> and <strong
          >writer</strong
        >. I love learning new stuff.
      </p>
      <p>
        Hopefully, you can learn something around here (and teach me something
        too!).
      </p>
    </div>
    <div>
      <img
        src="https://res.cloudinary.com/kc-cloud/image/upload/f_auto,q_auto/v1/raycast-uploads/eekzfqaepkqawlyk9hfl"
        class="heading-image"
      />
    </div>
  </div>
  <div>
    <h2>Latest posts</h2>
    {
      latestPosts.map((post) => {
        const { title, date, description } = post.data;
        return (
          <>
            <BlogPostCard
              url={`/posts/${post.slug}`}
              title={post.data.title}
              description={post.data.description}
              date={post.data.date}
              tags={post.data.tags}
            />
          </>
        );
      })
    }
  </div>
  <div>
    <h2>Courses</h2>
  </div>
  <Newsletter />
</BaseLayout>

<style>
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .top p {
    margin: 4px;
  }

  .top img {
    margin: 4px;
    width: 300px;
  }

  .top {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .heading-image {
    border-radius: 25%;
  }

  @media screen and (min-width: 768px) {
    .top {
      flex-direction: row;
    }
    .top div {
      flex: 1;
    }
    .top img {
      width: 400px;
    }
  }
</style>
