---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Otherpage";
import { getCollection } from "astro:content";
import { getMetaImage } from "../scripts/utils";
import Newsletter from "../components/Newsletter.astro";
import { formatDistance } from "date-fns";
import BlogPostCard from "../components/BlogPostCard.astro";

// get me the latest 3 posts from the posts collection in astro using the getCollections method
const latestPosts = await getCollection("posts").then((postMessages) =>
  postMessages
    .sort(
      (a, b) => Number(new Date(b.data.date)) - Number(new Date(a.data.date))
    )
    .slice(0, 3)
);
---

<BaseLayout pageTitle={pageTitle}>
  <div transition:animate="slide" class="heading">
    <h1>👋 Hey! Welcome!</h1>
  </div>
  <div class="top">
    <p>I'm Kevin and this is my little corner of the internet.</p>
    <p>
      I'm a developer educator, speaker and writer. I love learning new stuff.
    </p>
    <p>
      Hopefully, you can learn something around here (and teach me something
      too!).
    </p>
  </div>
  <div>
    <h2>Latest posts</h2>
    {
      latestPosts.map((post) => {
        const { title, date, description } = post.data;
        return (
          <>
            <BlogPostCard
              url={`/posts/${post.slug}`}
              title={post.data.title}
              description={post.data.description}
              date={post.data.date}
            />
          </>
        );
      })
    }
  </div>
  <div>
    <h2>Courses</h2>
  </div>
  <Newsletter />
</BaseLayout>

<style>
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .top p {
    margin: 4px;
  }
</style>
