---
const { webmentions } = Astro.props;

interface Mention {
  published: string;
  author: {
    url: string;
    name: string;
    photo: string;
  };
  content: {
    text: string;
  };
  "wm-source": string;
  "wm-property": string;
}

let likes = webmentions.filter((item) => item["wm-property"] === "like-of");

let likeImages = likes.map(
  (like: Mention) => like.author.photo || "anonymous-avatar.jpg"
);
---

{webmentions.length > 1 && <h3>Honorable mentions</h3>}

{
  likes.length > 0 && (
    <div class="likes">
      <ul class="avatars">
        {likeImages.map((image: string) => (
          <li class="avatar">
            <img src={image} data-src={image} width="48" />
          </li>
        ))}
      </ul>
      <p class="like-count">({likes.length} likes)</p>
    </div>
  )
}

<ul class="comments">
  {
    webmentions
      .sort(
        (a: Mention, b: Mention) =>
          new Date(a.published).valueOf() - new Date(b.published).valueOf()
      )
      .map((mention: Mention) => {
        if (mention["wm-property"] === "like-of") {
          return null;
        }
        return (
          <li class="p-comment h-cite comment">
            <div class="p-author h-card author">
              <img
                class="u-photo"
                src={mention?.author?.photo}
                data-src={mention?.author?.photo}
                width="48"
              />
              {mention["wm-property"] === "like-of" && <span>Liked by: </span>}
              <a class="p-name u-url" href={mention?.author?.url}>
                {mention?.author?.name}
              </a>
            </div>
            <div class="e-content comment-content">
              {mention?.content?.text}
            </div>
            <div class="metaline">
              <a href={mention["wm-source"]} class="u-url">
                <time class="dt-published" datetime={mention.published}>
                  {mention.published}
                </time>
              </a>
            </div>
          </li>
        );
      })
  }
</ul>

<style>
  li .comments {
    padding: 0;
    margin: 0;
    margin-left: 54px;
    margin-bottom: 16px;
    line-height: 1.1em;
    word-wrap: break-word;
  }
  .author {
    margin-bottom: 6px;
    font-size: 90%;
  }

  .comments img {
    margin-left: -54px;
    float: left;
    border-radius: 4px;
  }
  ul .comments {
    list-style: none;
  }

  .metaline {
    color: #777;
    font-size: 90%;
    margin-top: 4px;
    position: relative;
    z-index: 1;
    padding-top: 2px;
  }

  .avatar {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
  }

  .avatar:not(:first-child) {
    margin-left: -7px;
  }

  .avatar img {
    width: 100%;
    display: block;
  }

  .likes {
    display: flex;
    align-items: flex-end;
  }
</style>
